.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
build/
dist/
node_modules/
front-end/node_modules/
front-end/dist/
.DS_Store
*.log
.env
.env.*
**/.ipynb_checkpoints
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
